body{
    background-color: white;
}

body{ 
    margin: 0rem;
}
.bloc_de_page
{
    font-family: 'Raleway', sans-serif;    
    top: 5%; 
    width: 90%;    
    margin-left:auto; 
    margin-right:auto; 

}
/* HEADER : Logo reservia, champ de saisi, lien d'haut à droite*/

.logo_reservia{
   width: 10%;
   
   
}
h2{
    font-size: 0.8rem;
}
h3{
    font-size:0.6em;
    font-weight: normal;
}

.champ_recherche{
    display: flex; 
}

#rechercher{
    background-color: #0065FC;
    height: 30px;
    width: 10%;
    font-size: 0.7em;
    color: white;
    border: none;
    border-radius:0px 10px 10px 0px;
     font-weight: bold;
}

#ville{
    height:28px ;
    width: 10%;
    font-size: 0.7em;
    font-weight: bold;    
    border: none;
    
}

#icon{    
    background-color:#F2F2F2 ;
    height: 30px;
    width:2%;
    padding-left: 10px;    
    border-radius:10px 0px 0px 10px;
    display: flex;
    align-items:center ;
}

ul.liens_entete{
    position: absolute;   
    left: 65%;
    top: 35px;
    justify-content: flex-end;
} 


ul{
    display: flex;  
}

li{
    list-style: none;
    
}

ul.liens_entete > li > a {
    /* margin-right: 15%;*/
    padding-right: 20px;
    padding-left: 20px;
 
 }

 a, a:hover, a:focus, a:active { 
    text-decoration: none;
    color: inherit;
}

ul.liens_entete > li > a:hover {
    color:#0065FC;
    border-top-style: solid;
    border-width: 2px;  
    padding-top: 50px;   
}
 /* SECTION: LIEN DE FILTRE */

ul.liens_filtres > li{ 
    font-size: 0.7em;
    font-weight: bold;
    display: flex;
    align-items: center; 
    justify-content: center;
    border: solid #F2F2F2;
    border-left-style: none;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    margin-right: 15px; 
    margin-left:0px;   
}

ul.liens_filtres{
    padding-left: 0rem;
}



ul.liens_filtres > li:first-child{
    border: none;
} 

ul.liens_filtres > li > i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

ul.liens_filtres > li > a {
    margin-left:10px;
    margin-right:10px;
    
}
ul.liens_filtres > li:hover {
    
    background-color: #F2F2F2;
}
div.info_icon > i{  

    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 1px solid #F2F2F2 ;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 0.8em;
    margin-right: 5px;   
}

div.info_icon {
    font-size: 0.6em;
    display: flex;
    align-items: center;  
    
}
/* Hébergements à Marseille + Les plus populaires */

.cont_heberg_populaire{
    display: flex;
      
}

/* HERBERGEMENT(MARSEILLE)*/
.hebergement{    
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 70%;
    margin-right: 0%;
    padding-left:2%;
      
}



/* Style d'image Hébergement*/
h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

.titre_hebergement{    
    margin-left: 3%;
    font-size: 1.3em;
}

article.cartes {
    display: flex;
    flex-wrap: wrap;
   /* align-items: center;*/
    justify-content: space-around;
    
}
 a.carte {
    background-color: white;
     border-radius: 13%;
     /* width: 35%;    */
     padding-left: 1%;
     padding-top: 1%;
     font-size: 0.8em;  
      margin-right:2%;
     margin-bottom: 3%;     
     width: 220px;  
     box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;       
 }

 a.carte:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
 }


a.carte > div > img{        
    width: 97%;
    border-radius:15px 15px 0px 0px;    
    height: 120px;
    object-fit: cover;     
}


/* rating en bleu générique */
 a.carte > .rating {
     color: #0065FC;
     margin-top: 5px;
     margin-bottom: 15px;
 }
 
 /* on spécifie l'étoile qui doit être grise */
 a.carte > .rating > i.grey_star  {
     color: #F2F2F2;
 }
 
a.carte > div.titre {
    font-weight: bold;
    margin-bottom: 10px;
}


  .afficher_plus{
      font-weight: bold;
  }  



  /* LES PLUS POPULAIRES */  



  aside.populaire{   
      
    background-color: #F2F2F2;
    border-radius: 15px;    
     width:30% ;    
    margin-left: 3%; 
    /* flex-wrap: wrap;
    display: flex;
    flex-direction: column;   */

}

h2.titre_populaire{
    font-size: 1.3em;
    margin-left: 7%;


}

h2.titre_populaire > i {
    float: right;
    margin-right: 7%;
}

/* div.cartes_aside{    
    display: flex;
    flex-direction: column;      
    
} */

 div.carte_aside{
     display: flex;      
    background-color: white;
    border-radius: 8%;
    font-size: 0.8em;
    /* justify-content:space-between; */
    margin-bottom: 15%;
     width: 280px; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
    margin-left: 6%; 
    /* margin-top:15% ; */
    /* flex-wrap: wrap;     */
    /* width: 30%; */     
    /* padding-top: 1%; */    
   /* padding-left: 10px;*/     
    /*margin-right:5%;*/    
}

div.carte_aside > div {
    margin-left: 2%;
    margin-top: 2%; 
    margin-bottom: 1%; 
} 

div.carte_aside > div:first-child{
     width: 40%;  
}

div.carte_aside > div:last-child{
     width: 60%;  
}

div.carte_aside > div > img{        
    width: 100%;    
    border-radius:15px 0px 0px 15px; 
    height: 123px;
    object-fit: cover;  
    /* padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%; */
     /* padding: auto;  */      
}

div.carte_aside > div > h6 {
    font-weight: bold;
}

div.carte_aside > div > .rating {
    color: #0065FC;
    margin-bottom: 5%; 
}

div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

div.content > div > div.titre {
    font-weight: bold;
    margin-bottom: 10px;
}

/* ACTIVITES A MARSEILLE */

.conteneur_activite{
    display: flex;     
    width: 100%;
    height: 397px;   
    margin-bottom: 5%;
    margin-top: 5%;    
    justify-content: space-around;    
}

.activite{
    display: inline;
    width: 23%;       
}

div.image_vieux_port{
    background-color:white;
    border-radius: 15px; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 5%;     
}


div.image_vieux_port > img {
     border-radius: 25px 25px 0px 0px; 
     object-fit: cover;
     width: 100%;
    height: 350px;
    padding-bottom: 3%;       
}


 div > h5{
     display: inline;
     margin-left: 5%; 
     font-weight: bold;     
} 

div.contenu_petit_activite{ 
    display: flex;
    display: inline;
    flex-direction: column; 
    width: 23%;
    justify-content: space-around;       
}

div.image_fort_de_pomegues { 
     
    background-color:white;
    border-radius: 15px;
    width: 100%;           
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 3%;     
}

div.image_fort_de_pomegues > div > img{
    border-radius:15px 15px 0px 0px;
    width: 100%;
   height: 180px;
   object-fit: cover; 
   padding-bottom: 3%;
}


 div.image_Îles_de_Frioul{
    background-color: white;
    border-radius: 15px;
    width: 100%;         
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 15%;
    padding-bottom: 5%;    
} 

div.image_Îles_de_Frioul > div > img{
    border-radius:15px 15px 0px 0px;
    width: 100%;   
    height:93px;
    padding-bottom: 3%;     
}

.image_calanques{
    display: inline;
    width: 23%;    
}

.grande_activite_calanques{
    background-color:white;
    border-radius: 15px; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 5%;    
}

.grande_activite_calanques > img{
    border-radius: 25px 25px 0px 0px; 
    object-fit: cover;
    width: 100%;
   height: 350px;
   padding-bottom: 4%; 
}

.image_notre_damme_garde{
    background-color: white;
    border-radius: 15px;
    width: 100%;         
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 5%;   
}

.image_notre_damme_garde > div > img{
    border-radius:15px 15px 0px 0px;
    width: 100%;   
    height:120px;
    padding-bottom: 3%;
}


.image_parc_longchamp{
    background-color:white;
    border-radius: 15px;
    width: 100%;           
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 18%;
    padding-bottom: 5%;
    
}

.image_parc_longchamp > div > img{
    border-radius:15px 15px 0px 0px;
    width: 100%;
   height: 140px;
   object-fit: cover; 
   padding-bottom: 3%;   
}

/* FOOTER */

footer{ 
    display: flex; 
    background-color:#F2F2F2;
    margin-top: 2%; 
    margin-bottom: 5%;   
 } 

 footer > ul{  
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-right: 15%; 
    padding-top: 2%;        
    padding-bottom: 2%;
    
  } 

footer > ul > li:first-child{ 
     font-size: 1em;
     font-weight: bold; 
     padding-bottom:10%;     
} 

footer > ul > li{     

padding-top: 0px;
padding-bottom: 7px;
font-size: 0.8em;     
} 









 


