body{
    background-color: white;
}

body{ 
    margin: 0rem;
}
.bloc_de_page
{
    font-family: 'Raleway', sans-serif;    
    top: 5%;
    width: 90%;    
    margin-left:auto;
    margin-right:auto;
}
/* HEADER : Logo reservia, champ de saisi, lien d'haut à droite*/

.logo_reservia{
   width: 10%;
   
}
h2{
    font-size: 0.8rem;
}
h3
{
    font-size:0.6em;
    font-weight: normal;
}

.champ_recherche{
    display: flex; 
}

#rechercher{
    background-color: #0065FC;
    height: 30px;
    width: 10%;
    font-size: 0.7em;
    color: white;
    border: none;
    border-radius:0px 10px 10px 0px;
     font-weight: bold;
}

#ville{
    height:28px ;
    width: 10%;
    font-size: 0.7em;
    font-weight: bold;    
    border: none;
    
}

#icon{    
    background-color:#F2F2F2 ;
    height: 30px;
    width:2%;
    padding-left: 10px;    
    border-radius:10px 0px 0px 10px;
    display: flex;
    align-items:center ;
}

ul.liens_entete{
    position: absolute;   
    left: 65%;
    top: 40px;
    justify-content: flex-end;
}

ul{
    display: flex;  
}

li{
    list-style: none;
    
}

ul.liens_entete > li > a {
    /* margin-right: 15%;*/
    padding-right: 20px;
    padding-left: 20px;
 
 }

 a, a:hover, a:focus, a:active { 
    text-decoration: none;
    color: inherit;
}

ul.liens_entete > li > a:hover {
    color:#0065FC;
    border-top-style: solid;
    border-width: 2px;  
    padding-top: 50px;   
}
 /* SECTION: LIEN DE FILTRE */

ul.liens_filtres > li{ 
    font-size: 0.7em;
    font-weight: bold;
    display: flex;
    align-items: center; 
    justify-content: center;
    border: solid #F2F2F2;
    border-left-style: none;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    margin-right: 15px; 
    margin-left:0px;   
}

ul.liens_filtres{
    padding-left: 0rem;
}



ul.liens_filtres > li:first-child{
    border: none;
} 

ul.liens_filtres > li > i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

ul.liens_filtres > li > a {
    margin-left:10px;
    margin-right:10px;
    
}
ul.liens_filtres > li:hover {
    
    background-color: #F2F2F2;
}
div.info_icon > i{  

    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 1px solid #F2F2F2 ;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 0.8em;
    margin-right: 5px;   
}

div.info_icon {
    font-size: 0.6em;
    display: flex;
    align-items: center;  
    
}
/* Hébergements à Marseille + Les plus populaires */

.cont_heberg_populaire{
    display: flex;
      
}

/* HERBERGEMENT(MARSEILLE)*/
.hebergement{    
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 70%;
    margin-right: 0%;
    padding-left:2%;
      
}

aside.populaire{   
      
    background-color: #F2F2F2;
    border-radius: 15px;
    width:30% ;    
    margin-left: 3%;   
}

/* Style d'image Hébergement*/
h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

.titre_hebergement{    
    margin-left: 3%;
}

article.cartes {
    display: flex;
    flex-wrap: wrap;
   /* align-items: center;*/
    justify-content: center;
}

div.carte {
    background-color: white;
     border-radius: 13%;
     width: 35%;  
     padding-left: 5px;
     padding-top: 5px;
     font-size: 0.8em;  
     margin-right:2%;
     margin-bottom: 3%;
     width: 220px; 
     box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;     
     
 }

div.carte > div > img{        
    width: 97%;
    border-radius:15px 15px 0px 0px;     
}


/* rating en bleu générique */
 div.carte > .rating {
     color: #0065FC;
     margin-top: 5px;
     margin-bottom: 15px;
 }
 
 /* on spécifie l'étoile qui doit être grise */
 div.carte > .rating > i.grey_star  {
     color: #F2F2F2;
 } 

  .afficher_plus{
      font-weight: bold;
  }  

  /* LES PLUS POPULAIRES */
  
 div.carte_aside{
    display: flex;
    /*flex-wrap: wrap;*/
    background-color: white;
    border-radius: 15px;
    /* width: 30%;*/  
    margin-left: 15px;
    padding-top: 5px;
   /* padding-left: 10px;*/
    font-size: 0.8em; 
    /*margin-right:5%;*/
     margin-bottom: 45px;
    width: 280px; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
}

div.carte_aside > div {
    margin-left: 5px;    
} 

div.carte_aside > div:first-child{
    width: 40%;
}

div.carte_aside > div:last-child{
    width: 60%;
}

div.carte_aside > div > img{        
    width: 100%;    
    border-radius:15px 0px 0px 15px;  
      
}

div.carte_aside > div > h6 {
    font-weight: bold;
}

div.carte_aside > div > .rating {
    color: #0065FC;
    margin-bottom: 5px; 
}

div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.content > div > div.titre {
    font-weight: bold;
    margin-bottom: 10px;
}
div.carte > div.titre {
    font-weight: bold;
    margin-bottom: 10px;
}

/* ACTIVITES A MARSEILLE */

div.activite{
    /*display: flex;
    width: 90%;
    background-color: white;*/   
}

div.grande_activite > img {
    /* border-radius:15px 15px 0px 0px; */
    /* width: 250px;*/
    /* height: 435px; */
    /* height:auto; */
    /* object-fit: cover; */
    /*  object-position: 100% 0;*/
    display: block;
    width: 100%;
    height: auto; 
}

div.grande_activite{
    background-color:white;
    border: #0065FC solid;
    width: 256px;  
    height: 435px;
    /* border-radius: 15px;  */
    
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
     margin-right: 25px;
     margin-bottom: 250px;
     margin: 10px;*/
     /* width: 100%;    */
     /* height: auto;  */  
}

div.grande_activite > p{
    margin-left: 15px;
    padding-bottom: 15px; 
    padding-top: 0px;
    font-weight: bold;
}

/*div.contenu_petit_activite{ 
    display: flex;
    flex-direction: column;   
    
}

div.petit_activite {   
    background-color:white;
    border-radius: 15px;
     width: 263px;       
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-left: 3%; 
    padding-top: 2%; 
    padding-right;%;
}
 div.deuxieme_image{
    background-color: white;
    border-radius: 15px;
    width: 263px;
         
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-left: 3%; 
    padding-top: 2%; 
    padding-right:0%;
} 



div.deuxieme_image > div > img{
    border-radius:15px 15px 0px 0px;
    width: 96%;   
    height:80px;

}

div.petit_activite > div > img{
    border-radius:15px 15px 0px 0px;
    width: 96%;
   height: 180px;
}*/


/* FOOTER */

footer{ 
    display: flex; 
    background-color:#F2F2F2;
    margin-top: 2%; 
    margin-bottom: 5%;   
 } 

 footer > ul{  
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-right: 15%; 
    padding-top: 2%;        
    padding-bottom: 2%;
    
  } 

footer > ul > li:first-child{ 
     font-size: 1em;
     font-weight: bold; 
     padding-bottom:10%;     
} 

footer > ul > li{     

padding-top: 0px;
padding-bottom: 7px;
font-size: 0.8em;     
} 









 


