body{    
    margin: 0px 0px 0px 0px;             
}

.bloc_de_page{  
    width: 100%;  
    min-width:initial;     
    max-width: initial;
}

/* HEADER : Logo reservia, champ de saisi, lien d'haut à droite*/

img.logo_reservia{     
    width: 20%;
    width: 40%;
 }      

  /*Liens entete */

nav.liens{     
    margin-top: 2.3em;
    text-align: center;    
    flex-wrap: wrap;
    font-size: 1.5em; 
    padding-right: 5%;
    padding-left: 5%;
    width: initial;
} 
 
nav.liens > div:nth-child(1){
    width: 50%;   
    margin-bottom: 3%;
}

nav.liens > div > a:hover {    
    border-width: 0.2em;
    padding-top: 3em;
    border-top-style: initial;    
} 
 
nav.liens > div:nth-child(2){    
    width: 50%;    
    border-style: none;
    order: inherit;      
    margin-bottom: 3%;
}

nav.liens > div:nth-child(3){     
    width: 50%;    
} 

nav.liens > div:nth-child(4){   
    width: 50%;    
}

nav.liens > div{ 
    border-color:#0065FC;   
    border-bottom-style:  solid; 
    border-width: 3px;   
    padding-bottom: 8px; 
} 
 
#recherche{
    border: #0065FC; 
    background-color: #0065FC; 
    height: 50px; 
    width: 50px; 
    border-radius:13px;   
    margin-left: -19px; 
    display: initial;
}

.icon_input i{
    position: absolute; 
    left: 0; 
    top: 17px; 
    color: white;   
    padding-left: 0px;
    display: initial;
}

.icon_input{
    position: relative; 
}

h2 {   
    font-size: 1.5rem; 
    padding-top: 10px;
}

h3{    
    font-size:1em;
}

.deux_titre{
    text-align: center;
}

/* CHAMP DE SAISI */

.champ_recherche{   
    justify-content: center;   
}

#rechercher{  
    width: 15px; 
    display: none;
    border-radius:13px 13px 13px 13px; 
}

#ville{
    width: 360px; 
    height:45px; 
    border: solid 1px #F2F2F2;     
}

::placeholder {
    font-size: 1.3em; 
}

#icon{  
    height: 50px; 
    width:30px; 
    padding-left: 20px;
} 

 /* SECTION: LIEN DE FILTRE */

ul.liens_filtres {
    padding-left: revert;        
    flex-wrap: wrap; 
    margin-left: 35px; 
}

ul.liens_filtres > li:first-child {    
    flex: 3 100%; 
    margin-bottom: 5%; 
    justify-content: flex-start; 
    border: none; 
    margin-bottom: 22px; 
    font-size: 1em;
    border: none;
    margin-left: 7%;
}

ul.liens_filtres > li {
    margin-right: 25px; 
    margin-bottom: 10px; 
}

ul.liens_filtres > li:first-child:hover {   
    background-color: inherit;
}

div.info_icon {
    font-size: 0.9em;     
    margin-left: 65px;    
}

/* Hébergements à Marseille + Les plus populaires */

.cont_heberg_populaire{    
    width: 100%;
    align-items: center; 
}

.cont_heberg_populaire > div.hebergement{
    order: 1; 
}

/* HERBERGEMENT(MARSEILLE)*/
.hebergement{       
    background-color:white;  
    width: 100%; 
    border-radius: 0px; 
    padding-left: initial;
}

/* Style d'image Hébergement*/

#titre_hebergement{    
    /* margin-left: 15px;  */
    margin-top: 25px;
    margin-left: 7%;
}

a.carte {   
    width: 40%;
}

a.carte > div > img{    
    width: 99%;    
    height: 10em;  
}

.afficher_plus{
    margin-left: 27px;    
}  

  /* LES PLUS POPULAIRES */  

aside.populaire{
    width: 100%; 
    margin-left: initial;  
    border-radius: initial; 
}

.cartes_aside{ 
    justify-content: space-around;
    margin-bottom: 3em; 
    flex-direction: row;
    flex-wrap: wrap;
    flex: initial;
    min-width: initial;
    max-width: initial;
} 

h2.titre_populaire{
    padding-top: 0px;
}

a.carte_aside{ 
    margin-top: 0px ; 
    margin-bottom: 15px; 
    width: 240px;   
}

a.carte_aside > div {  
    padding-right: 3%;  
}

/* ACTIVITES A MARSEILLE */

#titre_activite{    
    margin-left: 27px;   
    font-size: 1.3em; 
}

/* activite_xl - start */

a.activite_xl { 
    padding-bottom: 1.7em;   
    width: 45%;
    margin-bottom: 5%;      
     order: 1;   
    height: 180px;
    display: flex;
    flex-direction: column;
}

a.activite_xl > img { 
    padding-bottom: 3%;  
    height: 8em;
}

/* activite_xl - stop */

/* activite_md - start */
 div.conteneur_activite_md { 
    width: 45%;
    justify-content: center;
    align-items: center;    
} 

a.activite_md {  
    margin-bottom: 5%; 
    flex-direction: column;
    display: flex;
}

.img_md {    
    height: 9em; 
}

.img_sm {    
    height: 9em; 
}

h5 {
    font-size: 1em;  
}

/* activite_md - stop */

/* FOOTER */
.info_pied_de_page{ 
    flex-direction: row; 
}

.info_pied_de_page > ul{ 
    width: 80%;         
} 

.info_pied_de_page > ul > li:first-child{  
    padding-bottom:10px;     
} 

.info_pied_de_page > ul > li{
    padding-bottom: 5px; 
} 